<% include ../partials/header.ejs  %>

<h1>NEW USER FORM</h1>

<form method="post" action="/users">
  <div class="form-group">
    <label for="name">Username</label>
    <input type="text" class="form-control" id="name" name="newUser[name]" placeholder="Put your username">
  </div>
  <div class="form-group">
    <label for="year">Password</label>
    <input type="password" class="form-control" id="year" name="newUser[password]" placeholder="Key in your password">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="newUser[email]" placeholder="Key in your email">
  </div>
  <div class="form-group">
    <h3>Details of a painting that you currently own/rent, if any:</h3>
    <label for="paintingName">Name of Painting:</label>
    <input type="text" class="form-control" id="paintingName" name="painting[name]" placeholder="Name of painting">
  </div>
  <div class="form-group">
  <label for="paintingArtist">Artist of Painting:</label>
    <input type="text" class="form-control" id="paintingArtist" name="painting[artist]" placeholder="Artist of painting">
  </div>
  <div class="form-group">
  <label for="paintingYear">Year of Painting:</label>
    <input type="text" class="form-control" id="paintingYear" name="painting[year]" placeholder="Year painting was completed">
  </div>
  <div class="form-group">
    <h3>Details of a 2nd painting that you currently own/rent, if any:</h3>
    <label for="paintingName2">Name of Painting:</label>
    <input type="text" class="form-control" id="paintingName2" name="painting[name2]" placeholder="Name of painting">
  </div>
  <div class="form-group">
  <label for="paintingArtist2">Artist of Painting:</label>
    <input type="text" class="form-control" id="paintingArtist2" name="painting[artist2]" placeholder="Artist of painting">
  </div>
  <div class="form-group">
  <label for="paintingYear2">Year of Painting:</label>
    <input type="text" class="form-control" id="paintingYear2" name="painting[year2]" placeholder="Year painting was completed">
  </div>
  <div class="form-group">
    <h3>Details of a 3rd painting that you currently own/rent, if any:</h3>
    <label for="paintingName3">Name of Painting:</label>
    <input type="text" class="form-control" id="paintingName3" name="painting[name3]" placeholder="Name of painting">
  </div>
  <div class="form-group">
  <label for="paintingArtist3">Artist of Painting:</label>
    <input type="text" class="form-control" id="paintingArtist3" name="painting[artist3]" placeholder="Artist of painting">
  </div>
  <div class="form-group">
  <label for="paintingYear3">Year of Painting:</label>
    <input type="text" class="form-control" id="paintingYear3" name="painting[year3]" placeholder="Year painting was completed">
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>

<% include ../partials/footer.ejs  %>
